
.topo {
    background-color: #170f46;
    display: flex;
    justify-content: center;
    align-items: center;


}

img{
    max-width: 100px;
    border-radius: 30px;
    display: flex;
    align-items:flex-start;
    margin: 0;
}
.menu {
    display: flex;
    overflow: hidden;
    position: sticky;
    top: 0px;
    text-align: center;
}

.menu a:hover {
    font-weight: bolder;
    color: #fff;
    border-radius: 25px;
}

/*corpo*/

body {
    color: #130f46;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    background-attachment: scroll;

}

.test {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    color: #190f46;
    font-weight: bolder;
    text-align: center;
    margin:30px;
    background-color: #445caa;
    border-radius: 15px;
}

/*Flexbox*/

main{
    justify-content: center;

}
.item1 {
    background-color: #448aaa;
    align-items: baseline;
    padding: 10px;
    border-radius: 45px;
    margin: 30px;



}

.item2 {
    background-color: #448aaa;
    justify-content: flex;
    padding: 10px;
    border-radius: 45px;
    margin: 30px;

}

.item3 {
    background-color: #448aaa;
    justify-content: flex;
    padding: 10px;
    border-radius: 45px;
    margin: 30px;
}

body{
    background-color: #acc0ff;
}